Repository GenieWizards/zenmo, pull requests merged in 2024-12, with the labels that each got.

#70 feat: add full text search support for categories✨
  src/db/migrations/0001_red_korvac.sql
  src/db/migrations/meta/0001_snapshot.json
  src/db/migrations/meta/_journal.json
  src/db/schemas/category.model.ts
  src/modules/categories/category.repository.ts
  src/modules/categories/category.util.ts
Labels: bug, enhancement, database, release

#72 feat(seed-data): reset and add seed data in DB in dev mode✨
  bun.lockb
  package.json
  src/db/scripts/seed-db.script.ts
Labels: bug, enhancement, dependencies, database, release

#73 43 feat update and delete group
  .vscode/settings.json
  src/common/enums/index.ts
  src/common/utils/constants.ts
  src/db/schemas/group.model.ts
  src/db/schemas/id.model.ts
  src/modules/group/group.handler.ts
  src/modules/group/group.index.ts
  src/modules/group/group.repository.ts
  src/modules/group/group.routes.ts
  src/modules/group/group.schema.ts
Labels: bug, enhancement, database, config, release, tooling

#82 error message from constant file update
  src/common/utils/constants.ts
  src/modules/group/group.handler.ts
  src/modules/group/group.routes.ts
Labels: bug, enhancement, release

#76 Feat/65 feat add users to group
  src/common/middlewares/auth.middleware.ts
  src/common/utils/constants.ts
  src/db/migrations/0000_open_invisible_woman.sql
  src/db/migrations/0000_optimal_warlock.sql
  src/db/migrations/meta/0000_snapshot.json
  src/db/migrations/meta/_journal.json
  src/db/schemas/group.model.ts
  src/db/schemas/user-to-group.model.ts
  src/modules/activities/activity.test.ts
  src/modules/activities/activity.types.ts
  src/modules/categories/category.test.ts
  src/modules/group/group.handler.ts
  src/modules/group/group.index.ts
  src/modules/group/group.repository.ts
  src/modules/group/group.routes.ts
  src/modules/group/group.schema.ts
  src/modules/group/group.test.ts
Labels: bug, enhancement, database, tests, release

#86 feat: add script to reset db✨
  package.json
  src/db/scripts/reset-db.script.ts
Labels: bug, enhancement, dependencies, database, release

#88 fix: duplicate enum in multiple migration files issue🐛
  src/db/migrations/0000_natural_mephisto.sql
  src/db/migrations/0001_red_korvac.sql
  src/db/migrations/meta/0000_snapshot.json
  src/db/migrations/meta/0001_snapshot.json
  src/db/migrations/meta/_journal.json
Labels: bug, enhancement, database, release

#68 feat: create expense without any group attached
  .gitignore
  eslint.config.mjs
  src/app.ts
  src/common/utils/constants.ts
  src/db/schemas/expense.model.ts
  src/modules/expenses/expense.handlers.ts
  src/modules/expenses/expense.index.ts
  src/modules/expenses/expense.repository.ts
  src/modules/expenses/expense.routes.ts
  src/modules/expenses/expense.test.ts
Labels: bug, enhancement, database, config, tests, release

#90 hotfix: debug api running in docker🚑️
  .github/ISSUE_TEMPLATE/bug_report.md
  docker-compose.dev.yml
  package.json
Labels: bug, enhancement, dependencies, workflows, docker, release

#91 fix: only lint the files that are staged and not all🐛
  .husky/pre-commit
Labels: bug, enhancement, release, tooling

#92 feat: conventional commit messages
  .husky/commit-msg
  bun.lockb
  commitlint.config.ts
  package-lock.json
  package.json
Labels: bug, enhancement, dependencies, config, release, tooling

#98 refactor: activity for add users to group♻️
  src/modules/activities/activity.utils.ts
Labels: bug, enhancement, release, refactor

#104 chore: update readme
  README.md
Labels: bug, documentation, enhancement, release

#105 docs: add summary to group endpoints for openapi docs📝
  src/modules/group/group.handler.ts
  src/modules/group/group.repository.ts
  src/modules/group/group.routes.ts
  src/modules/group/group.test.ts
Labels: bug, enhancement, tests, release

#111 Setup/semantic release
  .github/workflows/release.yml
  .releaserc
  bun.lockb
  package-lock.json
Labels: bug, enhancement, dependencies, workflows, release

#114 chore: update bun lockb to lock, update drizzle orm
  bun.lock
  bun.lockb
  bunfig.toml
  package-lock.json
  package.json
Labels: bug, enhancement, dependencies, release

#112 feat(k6-load-test): write basic load test with login route
  .husky/pre-commit
  .husky/pre-push
  k6/config.ts
  k6/demo-test.ts
  k6/scenarios/auth.scenarios.ts
  package.json
  tsconfig.k6.json
Labels: bug, enhancement, dependencies, release, tooling, performance

#116 Fix/semantic release
  .github/workflows/release.yml
  .releaserc
Labels: bug, enhancement, workflows, release

#117 fix: use GITHUB_TOKEN instead of GH_TOKEN
  .github/workflows/release.yml
Labels: workflows, release

#118 Update release.yml
  .github/workflows/release.yml
Labels: bug, enhancement, workflows, release

#119 Setup/semantic release
  .github/workflows/release.yml
  .releaserc
Labels: bug, enhancement, workflows, release

#120 build(docker): spin up a test DB when running docker copmose dev file
  docker-compose.dev.yml
Labels: bug, enhancement, docker, release

#123 chore(package.json): set version to 0.0.0-semantic-releasee
  package.json
Labels: bug, enhancement, dependencies, release

#127 feat(settlement.model.ts): create settlement model
  src/db/schemas/settlement.model.ts
  src/db/schemas/split.model.ts
Labels: bug, enhancement, database, release

#128 93 feat add user to group who is creating group
  src/db/migrations/0001_parallel_red_hulk.sql
  src/db/migrations/meta/0001_snapshot.json
  src/db/migrations/meta/_journal.json
  src/modules/group/group.handler.ts
  src/modules/group/group.repository.ts
  src/modules/group/group.routes.ts
  src/modules/group/group.schema.ts
  src/modules/group/group.test.ts
Labels: bug, enhancement, database, tests, release

#129 fix(settlement validations): add id validation
  src/db/schemas/settlement.model.ts
Labels: bug, enhancement, database, release

#134 chore: update bun lock file to fix build issues💚
  bun.lock
Labels: bug, enhancement, release
