Repository GenieWizards/zenmo, pull requests merged in 2024-11, with the labels that each got.

#46 Create greetings.yml🎉
  .github/workflows/greetings.yml
Labels: enhancement

#49 Create label.yml🔖
  .github/labeler.yml
  .github/workflows/label.yml
Labels: workflows

#51 docs: include test setup instructions in README📝
  .github/labeler.yml
  README.md
Labels: documentation

#52 feat: update labeler configuration to include enhancement, bug, and release labels✨
  .github/labeler.yml
  .github/workflows/label.yml
Labels: bug, enhancement, workflows, release

#53 setup: add drizzel studio in scripts
  package.json
Labels: bug, enhancement, dependencies, release

#56 test: create category as user, admin, unauthorized🧪
  bunfig.toml
  src/common/helpers/metadata.helper.ts
  src/common/utils/setup-test.util.ts
  src/common/utils/test.util.ts
  src/modules/activities/activity.test.ts
  src/modules/categories/category.test.ts
Labels: bug, enhancement, tests, release

#59 tests: delete category function🧪✅
  src/modules/categories/category.test.ts
Labels: tests, release
